[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=false
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=true
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ .colors.generic.background_secondary }}
BackgroundNormal={{ .colors.generic.background }}
DecorationFocus={{ .colors.generic.text_disabled }}
DecorationHover={{  .colors.generic.text_secondary }}
ForegroundActive={{ .colors.terminal.green }}
ForegroundInactive={{ .colors.generic.text_secondary }}
ForegroundLink={{ .colors.terminal.red }}
ForegroundNegative={{ .colors.terminal.red }}
ForegroundNeutral={{ .colors.terminal.yellow }}
ForegroundNormal={{ .colors.generic.text }}
ForegroundPositive={{ .colors.terminal.green }}
ForegroundVisited={{ .colors.terminal.magenta }}

[Colors:Selection]
BackgroundAlternate={{ .colors.generic.background_secondary }}
BackgroundNormal={{ .colors.generic.background_selection }}
DecorationFocus={{ .colors.generic.text_disabled }}
DecorationHover={{ .colors.generic.background_selection }}
ForegroundActive={{ .colors.terminal.green }}
ForegroundInactive={{ .colors.generic.text_secondary }}
ForegroundLink={{ .colors.terminal.red }}
ForegroundNegative={{ .colors.terminal.red }}
ForegroundNeutral={{ .colors.terminal.yellow }}
ForegroundNormal={{ .colors.generic.text }}
ForegroundPositive={{ .colors.terminal.green }}
ForegroundVisited={{ .colors.terminal.magenta }}

[Colors:Tooltip]
BackgroundAlternate={{ .colors.generic.background_secondary }}
BackgroundNormal={{ .colors.generic.background }}
DecorationFocus={{ .colors.generic.text_disabled }}
DecorationHover={{ .colors.generic.background_selection }}
ForegroundActive={{ .colors.terminal.green }}
ForegroundInactive={{ .colors.generic.text_secondary }}
ForegroundLink={{ .colors.terminal.red }}
ForegroundNegative={{ .colors.terminal.red }}
ForegroundNeutral={{ .colors.terminal.yellow }}
ForegroundNormal={{ .colors.generic.text }}
ForegroundPositive={{ .colors.terminal.green }}
ForegroundVisited={{ .colors.terminal.magenta }}

[Colors:View]
BackgroundAlternate={{ .colors.generic.background_secondary }}
BackgroundNormal={{ .colors.generic.background }}
DecorationFocus={{ .colors.generic.text_disabled }}
DecorationHover={{ .colors.generic.background_selection }}
ForegroundActive={{ .colors.terminal.green }}
ForegroundInactive={{ .colors.generic.text_secondary }}
ForegroundLink={{ .colors.terminal.red }}
ForegroundNegative={{ .colors.terminal.red }}
ForegroundNeutral={{ .colors.terminal.yellow }}
ForegroundNormal={{ .colors.generic.text }}
ForegroundPositive={{ .colors.terminal.green }}
ForegroundVisited={{ .colors.terminal.magenta }}

[Colors:Window]
BackgroundAlternate={{ .colors.generic.background_selection }}
BackgroundNormal={{ .colors.generic.background_secondary }}
DecorationFocus={{ .colors.generic.text_disabled }}
DecorationHover={{ .colors.generic.background_selection }}
ForegroundActive={{ .colors.terminal.green }}
ForegroundInactive={{ .colors.generic.text_secondary }}
ForegroundLink={{ .colors.terminal.red }}
ForegroundNegative={{ .colors.terminal.red }}
ForegroundNeutral={{ .colors.terminal.yellow }}
ForegroundNormal={{ .colors.generic.text }}
ForegroundPositive={{ .colors.terminal.green }}
ForegroundVisited={{ .colors.terminal.magenta }}

[General]
Name=base
shadeSortColumn=false

[KDE]
contrast=0

[WM]
activeBackground={{ .colors.generic.background_selection }}
activeBlend={{ .colors.terminal.red }}
activeForeground={{ .colors.terminal.red }}
frame={{ .colors.generic.accent }}
inactiveBackground={{ .colors.generic.text_disabled }}
inactiveBlend={{ .colors.generic.text }}
inactiveForeground={{ .colors.generic.text }}
inactiveFrame={{ .colors.generic.text }}
