* {
    font: "Monofur Nerd Font Mono 16";
    fontlauncher: "Monofur Nerd Font Mono 18";
    fonticons: "Monofur Nerd Font Mono 40";
    fontemoji: "Noto Emoji Color 15";
    fontbuku: "Monofur Nerd Font Mono 16";
}
