#!/usr/bin/env bash
{{ if or (eq .metadata.profile "desktop") (eq .metadata.profile "laptop") }}
# Run the script only if the theme changed: {{ include ".variables.json" | sha256sum }}

# KDE Plasma
if [[ $XDG_CURRENT_DESKTOP =~ "KDE" ]]; then plasma-apply-colorscheme auto; fi

# Restart XMonad, Polybar and Dunst
if ps aux | grep "xmonad" | grep -q -v "grep"; then xmonad --restart; fi
{{ end }}
