[color]
background = {{ .colors.generic.background }}
foreground = {{ .colors.generic.text }}
text = {{ .colors.generic.text }}
separator = {{ .colors.generic.text_secondary }}
primary = {{ .colors.generic.accent }}

black = {{ .colors.terminal.black }}
red = {{ .colors.terminal.red }}
green = {{ .colors.terminal.green }}
yellow = {{ .colors.terminal.yellow }}
blue = {{ .colors.terminal.blue }}
magenta = {{ .colors.terminal.magenta }}
cyan = {{ .colors.terminal.cyan }}
white = {{ .colors.terminal.white }}

pink = {{ .colors.terminal.bright_magenta }}
purple = {{ .colors.terminal.bright_blue }}
teal = {{ .colors.terminal.bright_cyan }}
lime = {{ .colors.terminal.bright_green }}
amber = {{ .colors.terminal.bright_red }}
orange = {{ .colors.terminal.bright_magenta }}
brown = {{ .colors.terminal.yellow }}
indigo = {{ .colors.terminal.bright_blue }}
gray = {{ .colors.terminal.bright_white }}
blue-gray = {{ .colors.generic.text_secondary }}

