# Export ENV variables
export EDITOR="nvim"
export BROWSER="brave-browser"
export PAGER="batcat --paging=always"
{{ if eq .metadata.profile "server" -}}
export LEDGER_FILE="$HOME/.data/syncthing/Sync/Finance/2025.journal"
export COMPOSE_HOME="$HOME/Deployments"
{{- else -}}
export LEDGER_FILE="$HOME/Sync/Finance/2025.journal"
{{- end }}
export GOPATH="$HOME/.local/go"
# Python Virtual Environments
export WORKON_HOME="$HOME/VirtualEnvs"

# Extend PATH
export PATH=$HOME/bin:/usr/local/bin:$PATH
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.scripts:$PATH
export PATH=$HOME/.spicetify:$PATH
export PATH=$HOME/.local/go/bin:$PATH
export PATH=$HOME/.cargo/bin:$PATH
