* {
  background: {{ .colors.generic.background }};
  background-alt: {{ .colors.generic.background_secondary }};
  border: {{ .colors.generic.text }};
  foreground: {{ .colors.generic.text }};
  hint: {{ .colors.terminal.yellow }};
  selected: {{ .colors.generic.text }};
  highlight: {{ .colors.generic.text }};
  urgent: {{ .colors.terminal.red }};
  on: {{ .colors.terminal.green }};
  off: {{ .colors.terminal.red }};
  active: {{ .colors.terminal.green }};
}
