# Bar, wallpaper
exec-once = quickshell --config {{ .metadata.style }}
exec-once = awww-daemon

# Core components (authentication, lock screen, notification daemon)
exec-once = ~/.config/hypr/hyprland/scripts/start_xdg-desktop-portal.sh
exec-once = gnome-keyring-daemon --start --replace --components=secrets
exec-once = dbus-update-activation-environment --systemd --all

# Terminal: run kitty headless instance so new instances have instant startup
exec-once = kitty --class HeadlessKitty --single-instance --listen-on unix:/tmp/kitty-socket --start-as=hidden tail -f /dev/null

# Audio
exec-once = pipewire-pulse

# Cursor
exec-once = hyprctl setcursor Bibata-Modern-Classic 24

# Workspace
exec-once = hyprctl dispatch workspace 1
