module Custom.MyTheme where

themeBackground, themeBorder, themeAccent, themeAccentSecondary :: String
themeBackground = "{{ .colors.generic.background }}"
themeBorder = "{{ .colors.generic.background_secondary }}"
themeAccent = "{{ .colors.generic.accent }}"
themeAccentSecondary = "{{ .colors.generic.accent_secondary }}"
