* {
  background: {{ .colors.generic.background }};
  background-alt: {{ .colors.generic.surface }};
  border: {{ .colors.generic.foreground }};
  foreground: {{ .colors.generic.foreground }};
  hint: {{ .colors.terminal.yellow }};
  selected-background: {{ .colors.generic.overlay }};
  selected-foreground: {{ .colors.generic.subtle }};
  highlight: {{ .colors.generic.foreground }};
  urgent: {{ .colors.terminal.red }};
  on: {{ .colors.terminal.green }};
  off: {{ .colors.terminal.red }};
  active: {{ .colors.terminal.green }};
}
