# Configuration format: https://github.com/fdw/rofimoji#configuration

action = type
skin-tone = ask
max-recent = 0
no-frecency = True
hidden-descriptions = False
use-icons = False
prompt = "Search"
selector-args = "-theme ~/.config/rofi/themes/{{ .metadata.style }}/emojimenu.rasi"
clipboarder = wl-copy
typer = wtype
