[Desktop Entry]
Exec=/home/aegis/.config/polybar/launch.sh
Icon=dialog-scripts
Name=launch-polybar.sh
Path=
Type=Application
X-KDE-AutostartScript=true
